
[submodule "blazesym"]
	path = third_party/blazesym
	url = https://github.com/libbpf/blazesym.git
[submodule "bpftool"]
	path = third_party/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "libbpf"]
	path = third_party/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "third_party/scx"]
	path = third_party/scx
	url = https://github.com/sched-ext/scx.git
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_tools/nettrace"]
	path = third_tools/nettrace
	url = https://github.com/OpenCloudOS/nettrace.git
